<div *ngIf="cursos?.length > 0;else noCursos">
  <ul
  *ngFor="let curso of cursos"
   class="collection">
    <li class="collection-item">
      <a class="secondary-content">
        <i
        *ngIf="editState == false"
        (click)="editCurso($event, curso)"
        class="material-icons">mode_edit</i>
        <i
        *ngIf="editState && cursoToEdit.id == curso.id"
        (click)="clearState()"
        class="material-icons">close</i>
      </a><h2>
      <strong>{{curso.nombre}}</strong></h2>
      <br>
      <blockquote>{{curso.descripcion}}</blockquote>
      <br>
      <span class="my_tag amber">
        <strong>Precio:</strong>{{curso.precio}}
      </span>
      <span class="my_tag amber">
        <strong>Idioma:</strong>{{curso.idioma}}
      </span>
      <span class="my_tag amber">
        <strong>Formador:</strong>{{curso.formador}}
      </span>
      <span class="my_tag amber">
        <strong>{{curso.tecnologia}}</strong>
      </span>
      <br>
      <div
      *ngIf="editState && cursoToEdit.id == curso.id"
      class="container-updateCurso">


          <!---todo form--->
          <form
          (ngSubmit)="onUpdateCurso(curso)"
          class="col s6">
            <div class="row">
              <div class="input-field col s6">
                <!--lo que esta con curso es lo declarado en el componente que hace que se respete
                la interfac
                son # no sirve nada en un ngModel
              -->
                <input
                [(ngModel)]="curso.nombre"
                #nombre="ngModel"
                type="text" name="nombre" id="nombre" placeholder="Nombre del curso">
                <label>Nombre:</label>
              </div>
              <div class="input-field col s6">
                <input
                [(ngModel)]="curso.descripcion"
                #descripcion="ngModel"
                type="text" name="descripcion" id="descripcion" placeholder="Descripcion del curso">
                <label>Descripcion:</label>
              </div>
              <div class="input-field col s6">
                  <input
                  [(ngModel)]="curso.formador"
                #formador="ngModel"
                   type="text" name="formador" id="formador" placeholder="Formador del Curso">
                  <label>Formador:</label>
              </div>

              <div class="input-field col s6">
                  <input
                  [(ngModel)]="curso.precio"
                #precio="ngModel"
                  type="text" name="precio" id="precio" placeholder="precio del Curso">
                  <label>precio:</label>
              </div>

              <div class="input-field col s6">
                  <input
                  [(ngModel)]="curso.idioma"
                #idioma="ngModel"
                  type="text" name="idioma" id="idioma" placeholder="idioma del Curso">
                  <label>Idioma:</label>
              </div>

              <div class="input-field col s6">
                  <input
                  [(ngModel)]="curso.tecnologia"
                #tecnologia="ngModel"
                  type="text" name="tecnologia" id="tecnologia" placeholder="tecnologia del Curso">
                  <label>Tecnologia:</label>
              </div>
              <button
              (click) = "deleteCurso($event, curso)"
              class="btn red right">
                Borrar
                <i class="material-icons right">delete_forever</i>
              </button>

              <button type="submit" class="btn orange">
                Actualizar
                <i class="material-icons right">save</i>
              </button>


            </div>

          </form>
      </div>

    </li>
  </ul>
</div>
<ng-template #noCursos>
  <hr>
  <h5>No Existen Cursos</h5>
</ng-template>
