<div class="card">
  <div class="card-content">
    <span class="card-title">Nuevo curso</span>

    <!--ngSumbit va ser que cuando se oprima haga lo siguiente
    la etique ta ngformNew son todos los datos recuperados
  # siver como indicador que tipo de dato es
-->

    <form
    (ngSubmit)="onGuardarCurso(formNew)"

    #formNew="ngForm"
    class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <!--lo que esta con curso es lo declarado en el componente que hace que se respete
          la interfac
          son # no sirve nada en un ngModel
        -->
          <input
          [(ngModel)]="curso.nombre"
          #nombre="ngModel"
          type="text" name="nombre" id="nombre" placeholder="Nombre del curso">
          <label>Nombre:</label>
        </div>
        <div class="input-field col s6">
          <input
          [(ngModel)]="curso.descripcion"
          #descripcion="ngModel"
          type="text" name="descripcion" id="descripcion" placeholder="Descripcion del curso">
          <label>Descripcion:</label>
        </div>
        <div class="input-field col s6">
            <input
            [(ngModel)]="curso.formador"
          #formador="ngModel"
             type="text" name="formador" id="formador" placeholder="Formador del Curso">
            <label>Formador:</label>
        </div>

        <div class="input-field col s6">
            <input
            [(ngModel)]="curso.precio"
          #precio="ngModel"
            type="text" name="precio" id="precio" placeholder="precio del Curso">
            <label>precio:</label>
        </div>

        <div class="input-field col s6">
            <input
            [(ngModel)]="curso.idioma"
          #idioma="ngModel"
            type="text" name="idioma" id="idioma" placeholder="idioma del Curso">
            <label>Idioma:</label>
        </div>

        <div class="input-field col s6">
            <input
            [(ngModel)]="curso.tecnologia"
          #tecnologia="ngModel"
            type="text" name="tecnologia" id="tecnologia" placeholder="tecnologia del Curso">
            <label>Tecnologia:</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light orange right">
          Guardar
          <i class="material-icons">add_circle</i>
        </button>


      </div>

    </form>
  </div>
</div>
